---
title: novemb.rs Code Sprint
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-dark.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">

    <title>novemb.rs Code Sprint</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1>novemb.rs Code Sprint</h1>
        <h2></h2>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        <h3>
<a id="time-and-date" class="anchor" href="#time-and-date" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>November 19th/20th 2016</h3>

        <h3>
<a id="time-and-date" class="anchor" href="#time-and-date" aria-hidden="true"><span aria-hidden="true" class="octicon octicon-link"></span></a>Where</h3>

        <p>novemb.rs is a Rust code sprint that is happening in a distributed fashion. The organisation and two events are run from Berlin and Paris.</p>

        <p>The goal is to start new projects, work on your current ones or get involved in new ones. The event is open to anyone, but we can provide most support to people in the UTC -1 to UTC +4 timezones, i.e. the European and African continent.</p>

        <p>The event is open to beginners interested in learning Rust while building a small project.</p>

        <p>For that, we are searching:</p>
        <ul>
          <li>People that want to provide a venue at their location for hackers to meet - face to face is always great</li>
          <li>People providing virtual meeting grounds for those not able to attend one of the physical meetings</li>
          <li>Mentors ready to take newcomers questions</li>
          <li>Projects wanting to provide tutoring and help</li>
          <li>People setting up and moderating IRC or other chat channels to make sure newcomers reach the right persons to talk to</li>
        </ul>

        <h2>Locations</h2>
        <p>If you would like to provide an additional location to meet, please
          file an issue <a href="https://github.com/rust-community/novemb.rs/issues/new?title=Workshop%20location">here</a>.</p>
        <ul>
        {% for location in site.data.locations %}
          <li>
            {% if location.location %}<a href="{{ location.location }}">{% endif %}
              {{ location.name }}
            {% if location.location %}</a>{% endif %}
          </li>
        {% endfor %}
        </ul>

        <h2>Projects</h2>
        <p>If your project would like to participate, or you have an idea for a new one, please file an issue <a href="https://github.com/rust-community/novemb.rs/issues/new?title=Project%20idea">here</a>.</p>
        <ul>
        {% for project in site.data.projects %}
          <li>
             Name: <a href="{{ project.url }}">
             {{ project.name }}
            </a>
          </li>
        {% endfor %}
        </ul>

        <h2>Mentors</h2>
        <p>If you would like to help out new people, or would like to teach people about your project, file an issue <a href="https://github.com/rust-community/novemb.rs/issues/new?title=Mentorship">here</a>.</p>
        <ul>
        {% for mentor in site.data.mentors %}
          <li>
             Name: {{mentor.name}}<br/>
             Github: {{mentor.github}}<br/>
             Twitter: {{mentor.twitter}}<br/>
             IRC-Nick (irc.mozilla.org): {{mentor.irc_nick}}
          </li>
        {% endfor %}
        </ul>

        <h2>Code of Conduct</h2>

        <p>The <a href="https://www.rust-lang.org/en-US/conduct.html">Rust Code of Conduct</a> applies to this event.</p>
      </section>
    </div>
  </body>
</html>
